<div>
    <h2 class="section-title">About Us</h2>
    <div class="container">
        <div class="about-description" style="margin-bottom: 50px;">
            <img src="~/Content/Images/Dave2.jpg" class="about-owner-photo" />
            <br />
            Although Upland Pest Control is a new pest control company, the owner has over 14 years of
            pest control experience all gained in the front range of Colorado.  The owner also has a background
            in Environmental Resource Management and is focused on providing safe environmentally friendly pest
            control service to meet the needs of your family or business.  Our goal is to use the philosophy of
            Integrated Pest Management to ensure that we explore all control options to reduce or eliminate the
            need for chemical pesticides.  Upland Pest Control believes that we are in a partnership when it
            comes to managing your pest control issues.
        </div>
    </div>
    <div style="clear:both;">
        <div style="width:100%; margin: 0 auto;">
            <div class="col-md-6 col-sm-12">
                <img src="~/Content/Images/100guarantee.png" class="about-img" />
                <span style="display:block; max-width: 500px; margin: 15px auto; text-align:center;">
                    <span class="about-description-header">GUARANTEE</span> <br />
                    We guarantee our service for 30 days from the time of treatment.
                    If our treatment fails to control your pest problem, we will come back and retreat
                    the area at no additional cost to you.
                </span>
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="~/Content/Images/10PercentDiscount.png" class="about-img" />
                <span style="display:block; max-width: 500px; margin: 15px auto; text-align: center;">
                    <span class="about-description-header">DISCOUNTS</span> <br />
                    As a both a volunteer and wildland fire fighter I have had the privilege of working with the finest
                    professionals in Emergency Service.  In addition, I’ve had the opportunity of working at both the
                    US Air Force Academy and Fort Carson.  That is why I offer a 10% discount to all emergency responders
                    and active duty military members.  It’s my way of saying thank you for all you do for our Community and our Country.
                </span>
            </div>
        </div>
        <div style="max-width: 600px; width: 100%; margin: 0 auto;">
            <img src="~/Content/Images/refund.png" class="about-img" />
            <span style="display:block; max-width: 500px; margin: 15px auto; text-align: center;">
                <span class="about-description-header">INSPECTION FEES</span> <br />
                We charge a low inspection fee which is credited back to you on the first contracted service. 
            </span>
        </div>
    </div>
</div>