<div class="col-md-12">
    <h2 class="section-title">Benefits of Pest Control Service</h2>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="~/Content/Images/home.png" style="display: block; margin: 0 auto; max-width: 200px;" />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="~/Content/Images/1447842593_conference.png" style="display: block; margin: 0 auto; max-width: 200px;" />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="~/Content/Images/1447844060_self_distract_button.png" style="display: block; margin: 0 auto; max-width: 200px;" />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="~/Content/Images/bug.png" style="display: block; margin: 0 auto; max-width: 200px;" />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="~/Content/Images/1447842611_money_bag.png" style="display: block; margin: 0 auto; max-width: 200px;" />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="~/Content/Images/1447842486_time.png" style="display: block; margin: 0 auto; max-width: 200px;" />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="~/Content/Images/1447843916_decision.png" style="display: block; margin: 0 auto; max-width: 200px;" />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="~/Content/Images/1447842895_PCI cards.png" style="display: block; margin: 0 auto; max-width: 200px;" />
    </div>
</div>