<div class="col-md-12" style="margin-bottom: 40px;">
    <h2 class="section-title">Benefits of Pest Control Service</h2>
    <div class="col-lg-4 col-md-6 col-sm-12 benefits-container">
        <img src="~/Content/Images/home.png" style="display: block; margin: 0 auto; max-width: 200px;" />
        <div class="benefits-content">
            <span class="benefits-title">Building Safety</span>Since pests tend to dig, gnaw, and chew through parts of your home to get in, a
            professional helps with taking care of pests before pest-related building damage occurs.
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 benefits-container">
        <img src="~/Content/Images/1447842593_conference.png" style="display: block; margin: 0 auto; max-width: 200px;" />
        <div class="benefits-content">
            <span class="benefits-title">Family Safety</span>The safety of your children, pets, and family members is important. Having a professional
            take care of the creepy critters helps with minimizing the risk of harm to the loved ones in your home.
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 benefits-container">
        <img src="~/Content/Images/1447844060_self_distract_button.png" style="display: block; margin: 0 auto; max-width: 200px;" />
        <div class="benefits-content">
            <span class="benefits-title">Illness Prevention</span>Illnesses can happen due to the use of pesticides, not just insect bites. A professional can handle it safely.
            Professionals use pesticides and insecticides as a last resort, while do it yourselfers (DIYs) can improperly use them, potentially causing more damage. 
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 benefits-container">
        <img src="~/Content/Images/bug.png" style="display: block; margin: 0 auto; max-width: 200px;" />
        <div class="benefits-content">
            <span class="benefits-title">Cleanup</span>Dealing with both the living and dead pests inside your house will mean more cleaning work
            that very few people want to do. A professional will do any necessary pest-related cleaning/cleanup for you.
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 benefits-container">
        <img src="~/Content/Images/1447842611_money_bag.png" style="display: block; margin: 0 auto; max-width: 200px;" />
        <div class="benefits-content">
            <span class="benefits-title">Money</span>Professionals help you save money by taking care of the problem the first time, making
             sure you don’t have to deal with the pests yourself over and over again.
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 benefits-container">
        <img src="~/Content/Images/1447842486_time.png" style="display: block; margin: 0 auto; max-width: 200px;" />
        <div class="benefits-content">
            <span class="benefits-title">Time</span>Hiring a professional do pest control ensures that the job will be done
            right the first time, leaving you have more time to do what you want.
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 benefits-container">
        <img src="~/Content/Images/1447843916_decision.png" style="display: block; margin: 0 auto; max-width: 200px;" />
        <div class="benefits-content">
            <span class="benefits-title">Knowledge</span>A professional can assist you in getting to know the invasion situation, as well as how to
            prevent it in the future.
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 benefits-container">
        <img src="~/Content/Images/1447842895_PCI cards.png" style="display: block; margin: 0 auto; max-width: 200px;" />
        <div class="benefits-content">
            <span class="benefits-title">Peace of Mind</span>Some people have problems sleeping or relaxing if they know that there are pests
            running around in their house. Having a professional getting it done right the first time can help you rest easy knowing that the pests are gone for good.
        </div>
    </div>
</div>