<div class="container">
    <div id="Contact" style="width: 780px; max-width: 100%; margin: 0 auto;">
        <h2>Contact Us!</h2>
        <span style="display:block; font-weight: bolder; margin: 10px 0;">
            Phone: (719)641-3691
        </span>
        <span>Need information or would you like to set up an appointment?</span>
        <span>Tell us about your situation and some information on how to contact you and we will get you exactly what you need!</span>
        <form name="ContactForm" class="contact-form">
            <div style="float: left; margin-right: 50px; padding-bottom: 20px;">
                <div class="inline-label-container">
                    <label class="inline-label">Your Name</label>
                    <input name="customerName" type="text" placeholder="Your Name" class="inline-label-input" ng-model="customerName" ng-required="true">
                    <span ng-if="ContactForm.customerName.$dirty && ContactForm.customerName.$invalid">
                        <br />
                        <span ng-show="ContactForm.customerName.$error.required" class="angular-error-text">Name is required!</span>
                    </span>
                </div>
                <div class="inline-label-container">
                    <label class="inline-label">Email Address</label>
                    <input name="customerEmail" type="email" placeholder="Email Address" class="inline-label-input" ng-model="customerEmail" ng-required="true">
                    <span ng-if="ContactForm.customerEmail.$dirty && ContactForm.customerEmail.$invalid">
                        <br />
                        <span ng-show="ContactForm.customerEmail.$error.email" class="angular-error-text">Invalid email format!</span>
                        <span ng-show="ContactForm.customerEmail.$error.required" class="angular-error-text">Email address required!</span>
                    </span>
                </div>
                <div class="inline-label-container">
                    <label class="inline-label">Phone Number</label>
                    <input name="customerPhone" type="tel" placeholder="Phone Number" class="inline-label-input" ng-model="customerPhone" 
                           ng-pattern="/^[0-9]{3}-?[0-9]{3}-?[0-9]{4}$/" ng-required="true">
                    <span ng-if="ContactForm.customerPhone.$dirty && ContactForm.customerPhone.$invalid">
                        <br />
                        <span ng-show="ContactForm.customerPhone.$error.pattern" class="angular-error-text">Invalid phone format - use 10 digit phone number</span>
                        <span ng-show="ContactForm.customerPhone.$error.required" class="angular-error-text">Phone number is required!</span>
                    </span>
                </div>
            </div>
            <div style="float: left; margin-bottom: 20px;">
                <textarea name="additionalNotes" placeholder="Tell us about your situation..." style="min-height: 165px; width: 400px; max-width: calc(100vw - 40px); margin-right: 10px;" ng-model="additionalNotes" ng-required="true"></textarea>
                <span ng-if="ContactForm.additionalNotes.$dirty && ContactForm.additionalNotes.$invalid">
                    <br />
                    <span ng-show="ContactForm.additionalNotes.$error.required" class="angular-error-text">Description is required!</span>
                </span>
                <br />
                <button ng-hide="sending" ng-click="ContactForm.$valid && sendEmail()" ng-disabled="ContactForm.$invalid">Send</button>
                <button ng-show="sending" ng-disabled="true">Sending...</button>
                <span ng-show="sent" style="color: green"><i class="fa fa-check"></i>Sent!</span>
            </div>
        </form>
    </div>
</div>
