<h2 class="section-title">Frequently Asked Questions</h2>
<div class="col-md-12 faq-container" style="margin: 0 auto;">
    <div class="question-container">
        <input type="checkbox" id="faq-1"/>
        <h2><label for="faq-1">Do spiders bite?</label></h2>
        <p>
            Yes. Spiders have two small jaws that end in fangs. Venom is produced in glands behind the jaws and empties 
            along ducts in the fangs to paralyze or kill prey. Few spiders can bite people because they are not able to 
            pierce the skin with their fangs. 
        </p>
    </div>
    <div class="question-container">
        <input type="checkbox" id="faq-2" />
        <h2><label for="faq-2">Are brown recluse spiders found in Colorado?</label></h2>
        <p>
            Colorado is not part of the natural range of this spider. Although single specimens are sometimes 
            brought into the state, natural populations are not found in Colorado. 
        </p>
    </div>
    <div class="question-container">
        <input type="checkbox" id="faq-3" />
        <h2><label for="faq-3">How do I stop mice from getting into my house?</label></h2>
        <p>
            To keep mice out seal all holes and openings that are larger than one-fourth inch. Use heavy 
            materials such as concrete mortar, sheet metal or heavy gauge hardware cloth. Also, be aware of 
            open doors to garages, houses, barns or other structures. These are open invitations to mice. 
        </p>
    </div>
    <div class="question-container">
        <input type="checkbox" id="faq-4" />
        <h2><label for="faq-4">Do mice and other rodents carry diseases?</label></h2>
        <p>
            The Center for Disease Control lists seven different disease carried by rodents, all of which 
            can be transmitted to humans. For a complete list of these disease as well as additional information 
            on rodents and clean-up recommendations visit: <a href="http://www.cdc.gov/rodents/index.html" target="_blank">http://www.cdc.gov/rodents/index.html</a>
        </p>
    </div>
    <div class="question-container">
        <input type="checkbox" id="faq-5" />
        <h2><label for="faq-5">Do Bull Snakes keep rattlesnakes away?</label></h2>
        <p>
            There is no research that supports the idea that bull snakes eat rattlesnakes. Bull snakes 
            primarily eat warm-blooded prey animals. Both rattlesnakes and bull snakes are often found in the same area.
        </p>
    </div>
</div>