<h2 class="section-title">Services We Offer</h2>
<div class="container">
    <div class="accordion">
        <dl>
            <dt>
                <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">
                    Ant Control
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                <p>In order to provide an effective ant control you must know what you are dealing with.  I
                start by surveying your property to determine what type of ants are present, where they
                are and what level of infestation exists.</p>

                <p>The next step is to develop a treatment plan.  My customized treatments take care of
                the immediate problems as well as treat ant harborage sites in the landscape to prevent
                future population growth.</p>

                <p>
                    For more information about Ant Control visit: <br />
                    <a href="http://www.ipm.ucdavis.edu/PDF/PESTNOTES/pnants.pdf" target="_blank">UC Davis - Ants</a><br />
                    <a href="http://extension.colostate.edu/docs/pubs/insect/05554.pdf" target="_blank">Colorado State Univ - Carpenter Ants</a><br />
                </p>
            </dd>
            <dt>
                <a href="#accordion2" aria-expanded="false" aria-controls="accordion2" class="accordion-title accordionTitle js-accordionTrigger">
                    Bees / Hornets / Yellow Jackets
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true">
                <p>Upland Pest Control encourages environmental stewardship and recommends live bee hive removal 
                whenever possible.  This service can be involved and time consuming Upland Pest Control works with 
                local bee keepers who practice safe, low stress removal for the bees in order to keep the colony together.</p>

                <p>My number one goal is resident safety.  Hives or nests causing concern can be treated and eliminated.  
                Removal is priced separately according to the complexity of the removal process. If a hive is not 
                removed, it could draw bees or other pests back or can begin to give off an odor and ooze down the walls.  </p>

                <p>
                    For more information about Bees / Hornets / Yellow Jackets visit: <br />
                    <a href="http://extension.colostate.edu/docs/pubs/insect/05525.pdf" target="_blank">Colorado State Univ - Wasps & Bees</a><br />
                    <a href="http://extension.colostate.edu/docs/pubs/insect/05611.pdf" target="_blank">Colorado State Univ - European Paper Wasp</a><br />
                </p>
            </dd>
            <dt>
                <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                    Birds / Pigeons
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                <p>Birds control is very important not only for the unsightly things they do to your property, but they 
                also carry and spread diseases. It is important to take a proactive stance when dealing with birds. Not 
                only can this save you time in the future but also money. Here are some of the common reasons why proper 
                bird control is necessary: property damage, health hazards, costly cleanup, unsightly image as well as parasites.  
                Upland Pest Control offers multiple options when dealing with nuisance birds.</p>

                <p>
                    For more information about Birds / Pigeons visit: <br />
                    <a href="http://extension.colostate.edu/docs/pubs/natres/06516.pdf" target="_blank">Colorado State Univ - Preventing Woodpecker Damage</a><br />
                </p>
            </dd>
            <dt>
                <a href="#accordion4" aria-expanded="false" aria-controls="accordion4" class="accordion-title accordionTitle js-accordionTrigger">
                    Cockroaches
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion4" aria-hidden="true">
                <p>
                    My treatment for cockroaches is very thorough and effective and consist of a three phase
                    approach: Inspect, Remove and Treat.  Following a thorough inspection I will identify the species
                    and come up with an effective plan to treat the infestation.  Treatments are sold based on the
                    level of infestation and may require multiple treatments
                </p>

                @*<p>
                    For more information about Cockroaches visit: <br />
                    <a href="http://www.ipm.ucdavis.edu/PDF/PESTNOTES/pnants.pdf" target="_blank">UC Davis - Ants</a><br />
                    <a href="http://extension.colostate.edu/docs/pubs/insect/05554.pdf" target="_blank">Colorado State Univ - Carpenter Ants</a><br />
                </p>*@
            </dd>
            <dt>
                <a href="#accordion5" aria-expanded="false" aria-controls="accordion5" class="accordion-title accordionTitle js-accordionTrigger">
                    Fleas / Flies
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion5" aria-hidden="true">
                <p>Upland Pest Control has developed an effective two-step flea control method to eliminate fleas from 
                your home.  To attain the best results, proper home preparation by the homeowner is required before each treatment. 
                Before your flea treatment, I’ll provide you with a list of preparation you will need to take.  In the first 
                step I will treat the inside and outside of your home twice within 10 to 14 days. I will pay close attention to 
                pet areas where the highest concentration of flea eggs and larvae will be located.</p>

                <p>After the initial treatment, the homeowner will need to vacuum at least three (3) times a week to pick up eggs 
                and larvae that reproduce during the time it takes your animals’ flea treatment to be effective. Effective flea control 
                requires treating your animals as well.</p>

                <p>
                    For more information about Fleas / Flies visit: <br />
                    <a href="http://www.ipm.ucdavis.edu/PDF/PESTNOTES/pnflies.pdf" target="_blank">UC Davis - Flies</a><br />
                    <a href="http://extension.colostate.edu/docs/pubs/insect/05600.pdf" target="_blank">Colorado State Univ - Fleas and Plague</a><br />
                </p>
            </dd>
            <dt>
                <a href="#accordion6" aria-expanded="false" aria-controls="accordion6" class="accordion-title accordionTitle js-accordionTrigger">
                    Gophers
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion6" aria-hidden="true">
                <p>Gophers eat your plants and dig invisible tunnels underground damaging your landscape and possibly underground utilities.  
                They also leave fan-shaped mounds in your yards and landscaped areas.  They can be very hard to combat.  Once I have assessed 
                the degree of infestation I will apply the appropriate control measures to get rid of the gophers on your property. Treatments 
                are sold by application based on the size of the infested area.</p>

                <p>
                    For more information about Gophers visit: <br />
                    <a href="http://extension.colostate.edu/docs/pubs/natres/06515.pdf" target="_blank">Colorado State Univ - Managing Pocket Gophers</a><br />
                </p>
            </dd>
            <dt>
                <a href="#accordion7" aria-expanded="false" aria-controls="accordion7" class="accordion-title accordionTitle js-accordionTrigger">
                    Mosquitoes
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion7" aria-hidden="true">
                <p>As part of an integrated pest management approach to your problem I will begin with and inspection of the property for 
                where mosquito's most likely harborage and their entry points into the interior of the home. Most mosquitoes rest during the 
                day in secluded and shady areas such as, tall grasses, in shrubs, trees, arbors and building eaves.  My approach to mosquito 
                control includes treating or removing breeding sites as well as treating harborage locations where biting adults hide.</p>

                <p>
                    For more information about Mosquitoes visit: <br />
                    <a href="http://www.ipm.ucdavis.edu/PDF/PESTNOTES/pnmosquitoes.pdf" target="_blank">UC Davis - Mosquitoes</a><br />
                </p>
            </dd>
            <dt>
                <a href="#accordion8" aria-expanded="false" aria-controls="accordion8" class="accordion-title accordionTitle js-accordionTrigger">
                    Pantry Pests
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion8" aria-hidden="true">
                <p>My pantry pest control will rid your cupboards of pests.  Here’s what our specialized service involves:  My treatment 
                for pantry pests is very thorough and effective and consist of a three phase approach: Inspect, Remove and Treat.  I’ll perform 
                a thorough inspection to determine the extent of the infestation.  Remove pests and debris from all accessible areas and treat 
                throughout the home concentrating on the most infested areas. Treatment may include topical sprays and pheromone traps.  
                Heavy infestations may require another treatment.  Pantry pest treatments are sold by application.</p>

                <p>
                    For more information about Pantry Pests visit: <br />
                    <a href="http://www.ipm.ucdavis.edu/PDF/PESTNOTES/pnpantrypests.pdf" target="_blank">UC Davis - Pantry Pests</a><br />
                </p>
            </dd>
            <dt>
                <a href="#accordion9" aria-expanded="false" aria-controls="accordion9" class="accordion-title accordionTitle js-accordionTrigger">
                    Prarie Dogs
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion9" aria-hidden="true">
                <p>Colorado Springs is the home of the black-tailed and Gunnison prairie dogs.  Both species of prairie dogs are host to fleas 
                which make them susceptible to bubonic plague. All forms of plague can be transmitted to humans.  Although prairie dogs can present 
                a public health concern most control programs are undertaken because of the damage these rodents do to vegetation and rangeland.  
                Upland Pest Control offers effective extermination services both in rangeland areas and in and around structures.  Ask about our 
                discounts for large rangeland infestations.</p>

                <p>
                    For more information about Prarie Dogs visit: <br />
                    <a href="http://extension.colostate.edu/docs/pubs/natres/06506.pdf" target="_blank">Colorado State Univ - Managing Prarie Dogs</a><br />
                </p>
            </dd>
            <dt>
                <a href="#accordion10" aria-expanded="false" aria-controls="accordion10" class="accordion-title accordionTitle js-accordionTrigger">
                    Raccoons
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion10" aria-hidden="true">
                <p>The raccoon or the “masked bandit” is native to North America. Raccoons will create homes in the wild but they also look for warm 
                safe places, commonly getting in to attics, out buildings and inside of chimneys. Because of this, people should always have a chimney 
                cap installed. Raccoons carry diseases which include rabies, canine distemper, and raccoon roundworm.  Upland Pest Control will whenever 
                possible release these animals back to the wild in accordance with Colorado laws.</p>

                <p>
                    For more information about Raccoons visit: <br />
                    <a href="http://www.ipm.ucdavis.edu/PDF/PESTNOTES/pnraccoons.pdf" target="_blank">UC Davis - Raccoons</a><br />
                    <a href="http://extension.entm.purdue.edu/publications/ADM-17.pdf" target="_blank">Purdue Univ - Animal Damage Management</a><br />
                </p>
            </dd>
            <dt>
                <a href="#accordion11" aria-expanded="false" aria-controls="accordion11" class="accordion-title accordionTitle js-accordionTrigger">
                    Rats / Mice
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion11" aria-hidden="true">
                <p>Upland Pest Control has developed an effective three-step approach to controlling rodents in and around your home.  First Survey of your 
                property, evaluate the situation for rodent activity and set up exterior bait stations.  Second inspect the interior of the home for damage 
                (photos can be taken and a report is provided at the request of the home owner).  Recommend control and remedial actions which may include 
                trapping, baiting, cleanup, sanitation and exclusion services.  </p>

                <p>
                    For more information about Rats / Mice visit: <br />
                    <a href="http://extension.colostate.edu/docs/pubs/natres/06507.pdf" target="_blank">Colorado State Univ - Voles in Colorado</a><br />
                </p>
            </dd>
            <dt>
                <a href="#accordion12" aria-expanded="false" aria-controls="accordion12" class="accordion-title accordionTitle js-accordionTrigger">
                    Skunks
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion12" aria-hidden="true">
                <p>Skunks are mostly nocturnal, and look at night eating a variety of different foods. Skunks often live under homes, patios, decks, and sheds. 
                Skunks do not fully hibernate, but activity is very low during the winter. Skunks can carry Rabies, Distemper, and Leptospirosis.  Colorado State 
                law does not allow the relocation of skunks.  Upland Pest Control follows American Veterinary Medical Association guidelines for humane treatment 
                of animals.</p>

                @*<p>
                    For more information about Skunks visit: <br />
                    <a href="http://www.ipm.ucdavis.edu/PDF/PESTNOTES/pnants.pdf" target="_blank">UC Davis - Ants</a><br />
                    <a href="http://extension.colostate.edu/docs/pubs/insect/05554.pdf" target="_blank">Colorado State Univ - Carpenter Ants</a><br />
                </p>*@
            </dd>
            <dt>
                <a href="#accordion13" aria-expanded="false" aria-controls="accordion13" class="accordion-title accordionTitle js-accordionTrigger">
                    Snakes
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion13" aria-hidden="true">
                <p>Snake removal is a specialty service. Upland Pest Control understands that a snake in the home is an emergency that cannot wait.  That is why 
                emergency snake removal is available. Snake removal can be dangerous and should only be done by a trained professional.  In most cases unwanted 
                snakes are relocate back to the wild.  Upland Pest Control will make an effort to see that injured native snakes receive rehabilitation.  Non-native 
                species will be humanely euthanized in accordance to AVMA standards.</p>

                <p>
                    For more information about Snakes visit: <br />
                    <a href="http://extension.colostate.edu/docs/pubs/natres/06501.pdf" target="_blank">Colorado State Univ - Coping With Snakes</a><br />
                </p>
            </dd>
            <dt>
                <a href="#accordion14" aria-expanded="false" aria-controls="accordion14" class="accordion-title accordionTitle js-accordionTrigger">
                    Spiders
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion14" aria-hidden="true">
                <p>Why choose Upland Pest Control for your spider extermination service? I will begin the service by removing spider webs in the eaves and around 
                the home.  I will then treat obvious areas of infestation, harborage areas and places where he knows or suspects spiders to be.  I’ll also treat the 
                landscaping adjacent to the home that attracts other insects that provide food for the spiders. </p>

                <p>
                    For more information about Spiders visit: <br />
                    <a href="http://extension.colostate.edu/docs/pubs/insect/05512.pdf" target="_blank">Colorado State Univ - Spiders in the Home</a><br />
                    <a href="http://www.ipm.ucdavis.edu/PDF/PESTNOTES/pnspiders.pdf" target="_blank">UC Davis - Spiders</a><br />
                    <a href="http://extension.colostate.edu/docs/pubs/insect/05605.pdf" target="_blank">Colorado State Univ - Western (Black) Widow Spider</a><br />
                    <a href="http://extension.colostate.edu/docs/pubs/insect/05607.pdf" target="_blank">Colorado State Univ - Brown Recluse Spider</a><br />

                </p>
            </dd>
            <dt>
                <a href="#accordion15" aria-expanded="false" aria-controls="accordion15" class="accordion-title accordionTitle js-accordionTrigger">
                    Squirrels
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed" id="accordion15" aria-hidden="true">
                <p>Upland Pest Control offers control strategies for both tree and rock squirrels.  Tree squirrels usually nest in trees. However squirrels often invade 
                a home, and will live the attic, eaves, soffits, above a ceiling, or in the walls. Squirrels can cause a lot of damage. They are rodents, and chew on 
                electrical wires, wood, and anything else they can find.</p>

                <p>Rock Squirrels, with their long, bushy tails, look very much like tree squirrels, but seldom climb trees. As their name implies they are most commonly 
                found in rocky environments.  However, they’ll happily exploit man-made structures such as outbuildings.  The burrows often extend under sidewalks, dwellings, 
                and outbuildings where they can weaken structural integrity.</p>

                <p>Rock squirrels are also associated with transmission of bubonic plague to humans, but both squirrels can spread various zoonotic diseases.  
                In addition both can cause costly damage to vehicle electrical systems where they gnaw on wires.</p>

                <p>
                    For more information about Squirrels visit: <br />
                    <a href="https://ag.arizona.edu/yavapai/anr/hort/byg/archive/rocksquirrels2010.html" target="_blank">Arizona Univ - Rock Squirrels</a><br />
                    <a href="http://extension.colostate.edu/docs/pubs/natres/06505.pdf" target="_blank">Colorado State Univ - Managing Ground Squirrels</a><br />
                    <a href="http://extension.entm.purdue.edu/publications/ADM-17.pdf" target="_blank">Purdue Univ - Animal Damage Management</a><br />
                </p>
            </dd>
        </dl>
    </div>
</div>