@{
    ViewBag.Title = "Contact Us!";
}
<div ng-controller="contactCtrl" ng-cloak>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        123 Bug Street<br />
        Colorado Springs, CO 80918<br />
        <abbr title="Phone">P:</abbr>
        719-555-6789
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@uplandpest.com">Support@uplandpest.com</a><br />
        <strong>More Info:</strong> <a href="mailto:Info@uplandpest.com">Info@uplandpest.com</a>
    </address>
</div>