body {
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}
.body {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: center;
}
.navbar {
    transition: width .3s;
    background: transparent;
    margin: 0 auto;
    border: none;
    position: absolute !important;
    top: calc(60vh + 50px) !important;
}
    .navbar * {
        color: whitesmoke !important;
        font-size: 22px !important;
        font-weight: bold !important;
    }
    .navbar .navbar-header {
        margin-left: 12%;
    }
.navbar.sticky {
    position: fixed !important;
    top: 0 !important;
    left: 0;
    margin: 0;
    transition: width .3s;
    background: rgba(0,0,0,0.9);
    width: calc(100vw);
}
    .navbar.sticky * {
        font-size: 16px !important;
    }
    .navbar.sticky .diamond {
        position: absolute;
        top: -500px;
    }
    .navbar.sticky .navbar-header {
        margin-left: 0;
    }
    
.bg-img-1 {
    background-image: url(Images/bg-img-1.jpg);
}

.bg-img-2 {
    background-image: url(Images/bg-img-2.jpg);
}

.bg-img-3 {
    background-image: url(Images/bg-img-3.jpg);
}

.bg-img-4 {
    background-image: url(Images/bg-img-4.jpg);
}

.container.body-content {
    background-color: rgba(245,245,245, 1);
}

.jumbotron {
    background-color: #E3E3E3 !important;
}

@media screen and (max-width: 767px) {
    .jumbotron {
        padding-left: 20px;
        padding-right: 20px;
    }

    /*.bg-img-1 {
        background-image: url(Images/bg-img-1.jpg);
        background-position-y: 0;
    }

    .bg-img-2 {
        background-image: url(Images/bg-img-2.jpg);
    }

    .bg-img-3 {
        background-image: url(Images/bg-img-3.jpg);
    }

    .bg-img-4 {
        background-image: url(Images/bg-img-4.jpg);
    }*/
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.test-area {
    color: red;
}
.main-header {

}

.diamond {
    width: 200px;
    height: 200px;
    position: absolute;
    left: -60px;
    top: calc(60vh + 50px);
    margin: 0;
    background: rgba(255,255,255,0.5);
    border: 5px solid whitesmoke;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: -135% 0%;
    margin: 0 50%;
}
    .diamond div {
        left: -13px;
        top: -54px;
        position: absolute;
        font-size: 26px;
        font-weight: bold;
        color: whitesmoke;
        text-align: center;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 0 100%;
        -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        -o-transform-origin: 0 100%;
        transform-origin: 0 100%;
    }

@media screen and (max-width: 1024px){
    .diamond {
        top: calc(60vh + 150px);
    }
}
.inline-label {
  color: #333;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  left: 2px;
  top: 1px;
  display: none;
}

.inline-label::after {
  content: " ";
  background-color: #333;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0px;
  top: 12px;
}

.inline-label-input {
  height: 40px;
  border: 1px solid #333;
  border-radius: 3px;
  padding-left: 2px;
  background-color: white;
}

.show-label .inline-label-input {
  line-height: 55px;
}

.show-label label {
  display: block;
}

.inline-label-container {
  position: relative;
  margin: 5px auto;
}

.contact-form button {
  margin-top: 20px;
  border: 1px solid #7d99ca;
  border-radius: 3px;
  padding: 5px 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  font-weight: bold;
  background-color: #a5b8da;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));
  background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
  background-image: linear-gradient(to bottom, #a5b8da, #7089b3);
  filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a5b8da, endColorstr=#7089b3);
}

form button:hover {
  border: 1px solid #5d7fbc;
  cursor: pointer;
  background-color: #819bcb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#819bcb), to(#536f9d));
  background-image: -webkit-linear-gradient(top, #819bcb, #536f9d);
  background-image: -moz-linear-gradient(top, #819bcb, #536f9d);
  background-image: -ms-linear-gradient(top, #819bcb, #536f9d);
  background-image: -o-linear-gradient(top, #819bcb, #536f9d);
  background-image: linear-gradient(to bottom, #819bcb, #536f9d);
  filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#819bcb, endColorstr=#536f9d);
}

.section-title {
    margin: 10px auto;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 55px;
    font-size: 50px;
}

.about-owner-photo {
    float: left;
    width: 100%;
    max-width: 400px;

}
.about-description {
    text-align:center;
    padding: 30px;
}
.about-description-header {
    font-weight: bold;
    font-size: 30px;
}
.about-img {
    max-width: 400px; 
    width: 100%; 
    margin: 0 auto;
    display: block;
}

.benefits-title {
    font-weight: bolder; 
    font-size: larger; 
    display:block;
}
.benefits-content {
    text-align: center;
    padding: 10px;
}
.benefits-container {
    min-height: 350px;
}
.free-estimate {
    position: fixed;
    top: 80px;
    left: 0px;
    z-index: 1;
}

@-webkit-keyframes flow {
	0% { left:-20px;opacity: 0;}
	50% {left:100px;opacity: 0.3;}
    100%{ left:180px;opacity: 0;}
}
@keyframes flow {
	0% { left:-20px;opacity: 0;}
	50% {left:100px;opacity: 0.3;}
    100%{ left:180px;opacity: 0;}
}

.glow{ 
    background: rgb(255,255,255); 
    width:40px; 
    height:100%; 
    z-index:999; 
    position:absolute;
    -webkit-animation: flow 1.5s linear infinite;
    -moz-animation: flow 1.5s linear infinite;
    -webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(1%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */ 
    border-left:1px solid #fff;
}

.ribbon {
  width: 270px;
  height: 102px;
  margin: 50px auto 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.ribbon .container {
  margin: 0;
  padding: 0;
  position: relative;
  width: 280px;
  height: 100px;
  overflow: hidden;
  margin: 0 auto;
  border-top: 1px solid #0056EA;
  border-bottom: 1px solid #0056EA;
}

.ribbon .base {
  height: 100px;
  width: 200px;
  background: #4ac9f7;
  /* Old browsers */
  
  background: -moz-linear-gradient(left, #4ac9f7 1%, #0086ed 100%);
  /* FF3.6-15 */
  
  background: -webkit-linear-gradient(left, #4ac9f7 1%, #0086ed 100%);
  /* Chrome10-25,Safari5.1-6 */
  
  background: linear-gradient(to right, #4ac9f7 1%, #0086ed 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4ac9f7', endColorstr='#0086ed', GradientType=1);
  /* IE6-9 */
  
  position: relative;
  z-index: 2;
}

.ribbon .base:after {
  content: '';
  position: absolute;
  top: 6px;
  width: 242px;
  left: 0px;
  height: 86px;
  border-top: 2px dashed #0056EA;
  border-bottom: 2px dashed #0056EA;
}

.ribbon .base:before {
  content: '';
  position: absolute;
  top: 6px;
  width: 242px;
  left: 2px;
  height: 86px;
  border-top: 2px dashed #0056EA;
  border-bottom: 2px dashed #0056EA;
}

.ribbon .left_corner {
  width: 100px;
  height: 100px;
  background: #0086ED;
  position: absolute;
  top: -49px;
  right: 31px;
  z-index: 1;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ribbon .right_corner {
  width: 100px;
  height: 100px;
  background: #0086ED;
  position: absolute;
  bottom: -49px;
  right: 31px;
  z-index: 1;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ribbon .free-estimates {
  font-size: 1.9rem;
  font-weight: bold;
  position: relative;
  top: 36px;
  left: 15px;
  color: white;
  text-shadow: 1px 1px 1px #333;
}

@media screen and (max-width: 767px){
    .ribbon {
        display: none;
    }
}

.faq-container div { position: relative; }
.faq-container input[type=checkbox] {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
}
.faq-container h2 {
  font-size: 30px;
  font-weight: 400;
  color: #4a19ff;
  text-decoration: underline;
  margin-bottom: 20px;
}
.faq-container label {
   cursor: pointer;
}
.faq-container label {
  position: relative;
  display: block;
  padding-left: 30px;
}
.faq-container label:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 10px;
  border-left: 8px solid black;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  margin-top: -8px;
}
.faq-container input[type=checkbox]:checked ~ h2 label:before {
  border-left: 8px solid transparent;
  border-top: 8px solid black;
  border-right: 8px solid transparent;
  margin-left: -4px;
  margin-top: -4px
}

.faq-container p {
  max-height: 0;
  overflow: hidden;
  padding-left: 30px;
  transition: max-height 0.4s ease;
}
.faq-container input[type=checkbox]:checked ~ h2 ~ p {
  max-height: 80px;
}

.heading-primary {
  font-size: 2em;
  padding: 2em;
  text-align: center;
}

.accordion dl,
.accordion-list {
  border: 1px solid #ddd;
}
/*.accordion dl:after,
.accordion-list:after {
  content: "";
  display: block;
  height: 1em;
  width: 100%;
  background-color: #2ba659;
}*/

.accordion dd,
.accordion__panel {
  background-color: #eee;
  font-size: 1em;
  line-height: 1.5em;
}

.accordion p {
  padding: 1em 2em 1em 2em;
}

.accordion {
  position: relative;
  background-color: #eee;
}

.accordionTitle,
.accordion__Heading {
  background-color: #337AB7;
  text-align: center;
  font-weight: 700;
  padding: 2em;
  display: block;
  text-decoration: none;
  color: #fff;
  -webkit-transition: background-color 0.5s ease-in-out;
          transition: background-color 0.5s ease-in-out;
  border-bottom: 1px solid #286090;
}
.accordionTitle:before,
.accordion__Heading:before {
  content: "+";
  font-size: 1.5em;
  line-height: 0.5em;
  float: left;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out;
}
.accordionTitle:hover,
.accordion__Heading:hover {
  background-color: #2A5274;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
  background-color: #2A5274;
}
.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg);
}
.accordion-title {
    color: white !important;
}
.accordion a:hover {
    font-weight: bolder;
}
.accordionItem {
  height: auto;
  overflow: hidden;
  max-height: 70em;
  -webkit-transition: max-height 1s;
          transition: max-height 1s;
}

.accordionItem.is-collapsed {
  max-height: 0;
}

.no-js .accordionItem.is-collapsed {
  max-height: auto;
}

.animateIn {
  -webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
          animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
  -webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
          animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
  }
}
@keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
  }
}

.divider-image {
    background-size: cover; 
    background-position: center; 
    height: calc(100vh); 
    background-repeat: no-repeat;
}