body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: center;
}

.bg-img-1 {
    background-image: url(Images/bg-img-1.jpg);
}

.bg-img-2 {
    background-image: url(Images/bg-img-2.jpg);
}

.bg-img-3 {
    background-image: url(Images/bg-img-3.jpg);
}

.bg-img-4 {
    background-image: url(Images/bg-img-4.jpg);
}

.container.body-content {
    background-color: rgba(245,245,245, 0.75);
}

.jumbotron {
    background-color: #E3E3E3 !important;
}

@media screen and (max-width: 767px) {
    .jumbotron {
        padding-left: 20px;
        padding-right: 20px;
    }

    body {
        font-size: 14px;
        font-weight: normal;
    }

    /*.bg-img-1 {
        background-image: url(Images/bg-img-1.jpg);
        background-position-y: 0;
    }

    .bg-img-2 {
        background-image: url(Images/bg-img-2.jpg);
    }

    .bg-img-3 {
        background-image: url(Images/bg-img-3.jpg);
    }

    .bg-img-4 {
        background-image: url(Images/bg-img-4.jpg);
    }*/

    .container.body-content {
        background-color: rgba(245,245,245, 0.6);
    }
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.test-area {
    color: red;
}
