body {
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}
.body {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: center;
}
.navbar {
    transition: width .3s;
    background: transparent;
    margin: 0 auto;
    border: none;
    position: absolute !important;
    top: calc(60vh + 50px) !important;
}
    .navbar * {
        color: whitesmoke !important;
        font-size: 22px !important;
        font-weight: bold !important;
    }
    .navbar .navbar-header {
        margin-left: 12%;
    }
.navbar.sticky {
    position: fixed !important;
    top: 0 !important;
    left: 0;
    margin: 0;
    transition: width .3s;
    background: rgba(0,0,0,0.9);
    width: calc(100vw);
}
    .navbar.sticky * {
        font-size: 16px !important;
    }
    .navbar.sticky .diamond {
        position: absolute;
        top: -500px;
    }
    .navbar.sticky .navbar-header {
        margin-left: 0;
    }
    
.bg-img-1 {
    background-image: url(Images/bg-img-1.jpg);
}

.bg-img-2 {
    background-image: url(Images/bg-img-2.jpg);
}

.bg-img-3 {
    background-image: url(Images/bg-img-3.jpg);
}

.bg-img-4 {
    background-image: url(Images/bg-img-4.jpg);
}

.container.body-content {
    background-color: rgba(245,245,245, 0.75);
}

.jumbotron {
    background-color: #E3E3E3 !important;
}

@media screen and (max-width: 767px) {
    .jumbotron {
        padding-left: 20px;
        padding-right: 20px;
    }

    body {
        font-size: 14px;
        font-weight: bold;
    }

    /*.bg-img-1 {
        background-image: url(Images/bg-img-1.jpg);
        background-position-y: 0;
    }

    .bg-img-2 {
        background-image: url(Images/bg-img-2.jpg);
    }

    .bg-img-3 {
        background-image: url(Images/bg-img-3.jpg);
    }

    .bg-img-4 {
        background-image: url(Images/bg-img-4.jpg);
    }*/

    .container.body-content {
        background-color: rgba(245,245,245, 0.6);
    }
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.test-area {
    color: red;
}
.main-header {

}

.diamond {
    width: 200px;
    height: 200px;
    position: absolute;
    left: -60px;
    top: calc(60vh + 50px);
    margin: 0;
    background: rgba(255,255,255,0.5);
    border: 5px solid whitesmoke;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: -135% 0%;
    margin: 0 50%;
}
    .diamond div {
        left: -13px;
        top: -54px;
        position: absolute;
        font-size: 26px;
        font-weight: bold;
        color: whitesmoke;
        text-align: center;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 0 100%;
        -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        -o-transform-origin: 0 100%;
        transform-origin: 0 100%;
    }

.inline-label {
  color: #333;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  left: 2px;
  top: 1px;
  display: none;
}

.inline-label::after {
  content: " ";
  background-color: #333;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0px;
  top: 12px;
}

.inline-label-input {
  height: 40px;
  border: 1px solid #333;
  border-radius: 3px;
  padding-left: 2px;
  background-color: white;
}

.show-label .inline-label-input {
  line-height: 55px;
}

.show-label label {
  display: block;
}

.inline-label-container {
  position: relative;
  margin: 5px auto;
}

.contact-form button {
  margin-top: 20px;
  border: 1px solid #7d99ca;
  border-radius: 3px;
  padding: 5px 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  font-weight: bold;
  background-color: #a5b8da;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));
  background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
  background-image: linear-gradient(to bottom, #a5b8da, #7089b3);
  filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a5b8da, endColorstr=#7089b3);
}

form button:hover {
  border: 1px solid #5d7fbc;
  cursor: pointer;
  background-color: #819bcb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#819bcb), to(#536f9d));
  background-image: -webkit-linear-gradient(top, #819bcb, #536f9d);
  background-image: -moz-linear-gradient(top, #819bcb, #536f9d);
  background-image: -ms-linear-gradient(top, #819bcb, #536f9d);
  background-image: -o-linear-gradient(top, #819bcb, #536f9d);
  background-image: linear-gradient(to bottom, #819bcb, #536f9d);
  filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#819bcb, endColorstr=#536f9d);
}

.section-title {
    margin: 10px auto;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 55px;
}

.about-owner-photo {
    float: left;
    width: 100%;
    max-width: 400px;

}
.about-description {
    text-align:center;
}
.about-description-header {
    font-weight: bold;
    font-size: 30px;
}
.about-img {
    max-width: 400px; 
    width: 100%; 
    margin: 0 auto;
    display: block;
}